HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!test/src/main/**/target/
!test/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!test/src/main/**/build/
!test/src/test/**/build/

### VS Code ###
.vscode/

insights-core/src/main/resources/file.txt
screenshots/
debug_assets/
videos/
userprofiles/
contexts/
*.p12
mvnw
mvnw.cmd
.DS_Store
out/
.flattened-pom.xml
*.jar
Procfile
deployment/application/insights-web/META-INF
deployment/application/insights-web/*.zip
deployment/application/insights-web/*.jar
deployment/application/insights-web/temp
/tmp/
navigation_logs/